{% comment %}
This file is part of trc.me.

trc.me is free software: you can redistribute it and/or modify it under the
terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

trc.me is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
trc.me. If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}
<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//WAPFORUM//DTD XHTML Mobile 1.0//EN' 
'http://www.wapforum.org/DTD/xhtml-mobile10.dtd'> 
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}trc.me{% endblock %}</title>
	
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/mobile.css" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico" />
	<!--[if lt IE 9]>
  <script src="{{ MEDIA_URL }}js/html5.js"></script>
  <![endif]-->
  <script src="{{ MEDIA_URL }}js/modernizr-1.5.min.js"></script>
  <script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
  <script src="{{ MEDIA_URL }}js/jquery-ui-1.8.custom.min.js"></script>
  <script src="{{ MEDIA_URL }}js/jquery.form.js"></script>
  <script src="{{ MEDIA_URL }}js/trcme.js"></script>
  <script type="text/javascript">
  trcme.options.baseurl = '{% url trc_me.web.views.index %}';
  trcme.options.mediaurl = '{{ MEDIA_URL }}';  
  $(document).ready(function () {
    // (If JavaScript is enabled) hide labels and use placeholder text
    $('.djangoform label').hide();
  });
  </script>
  
  {% block head %}
  {% endblock %}
</head>
<body>
  <div id="dialog_outer">
    <div id="dialog_titlebar" class="titlebar">
      <img src="{{ MEDIA_URL }}img/icon.png" alt="&#x2690;" /> 
      <span id="login_status">
        {% if user.is_authenticated %}
        <a href="{% url trc_me.web.views.view_user username=user.username %}">{{ user.username }}</a>
        {% else %}
        you are not logged in
        {% endif %}
      </span>
    </div>
    <div id="dialog">{% block dialog %}{% endblock %}</div>
  </div>
</body>
</html>
