{% extends "mobile/base.html" %}
{% comment %}
This file is part of trc.me.

trc.me is free software: you can redistribute it and/or modify it under the
terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

trc.me is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
trc.me. If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% block title %}trc.me - {{ flag.note|truncatewords:6 }}{% endblock %}

{% block head %}
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
{% endblock %}

{% block dialog %}
<div id="dialog_content">
  {% with 1 as show_map %}
  {% include "web/flag_panel.html" %}
  {% endwith %}
</div>

<div id="dialog_nav">
  <nav>
    <a href="{% url trc_me.web.views.index %}">Home</a>
    {% if user.is_authenticated %}
    | <a href="{% url trc_me.web.views.view_user username=user.username %}">Your profile</a>
    {% endif %}
  </nav>
</div>
{% endblock %}
