{% comment %}
This file is part of trc.me.

trc.me is free software: you can redistribute it and/or modify it under the
terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

trc.me is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
trc.me. If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}
<div id="dialog_content">
  <h1><img src="{{ MEDIA_URL }}img/logo.png" alt="trc.me" /></h1>
  
  <noscript>
    <p>This website requires JavaScript. If you prefer not to use JavaScript, 
      or cannot use it, try this site's <a href="?mobi=True">mobile version</a>.</p>
  </noscript>
  
  {% if not user.is_authenticated %}
  {% include "web/login.html" %}
  {% endif %}

  <div class="for_users" {% if not user.is_authenticated %}style="display: none;"{% endif %}>
    <button onclick="trcme.dialog.newTag.load();">Create new tag</button>
  </div>
  <br />
  
  <form>
    <input name="code"  
           type="text" 
           placeholder="Enter a tag to flag it" />
    <button onclick="trcme.dialog.updateTag.load($('input[name=code]').val()); return false;">Go</button><br />
  </form>
  <br />
  
  <form action="{% url trc_me.web.views.search %}" method="get">
    <input name="q" 
           type="text" 
           placeholder="Search for flags" />
    <input type="submit" value="Go" /><br />
  </form>
  <br />
  
</div>
<div id="dialog_nav">
  <nav>
    <a href="#" 
       onclick="trcme.dialog.panel.load('how-it-works'); return false;">How it works</a>
    {% if user.is_authenticated %}
    | <a href="{% url trc_me.web.views.view_user username=user.username %}">Your profile</a>
    {% endif %}
  </nav>
</div>
