{% extends "web/base.html" %}
{% comment %}
This file is part of trc.me.

trc.me is free software: you can redistribute it and/or modify it under the
terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

trc.me is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
trc.me. If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% block content %}
<h1><img src="{{ MEDIA_URL }}img/logo.png" alt="trc.me" /></h1>

<h2>Log in</h2>
<form>
  <table>
    {{ loginform }}
  </table>
  {% csrf_token %}
</form>

<h2><a name="join-us">Join us</a></h2>
<form>
  <table>
    {{ regform }}
  </table>
  {% csrf_token %}
</form>

{% if code %}
<h2>Recently flagged</h2>
<h3>trc.me/{{ code }}</h3>
{% include "web/code_long.html" %}
{% endif %}

<h2>How it works</h2>

<p>If you find something with a <span class="keyword">trc.me</span> code on 
  it, open a web browser, enter the code as the web address, and 
  <span class="keyword">flag</span> its location.</p>

<p>When you <span class="keyword">flag</span> things, you can get 
  <span class="keyword">trc.me points</span>. Sometimes they are 
  <span class="keyword">redeemable</span> for real-world stuff like cellphone 
  <span class="keyword">airtime</span>, and shopping 
  <span class="keyword">vouchers</span>. Sometimes it's just fun!</p>

<p><span class="keyword">Anyone can get codes</span> to track where their 
  things are.</p>

<p>Did I mention that for most users, it's all 
  <span class="keyword">free</span>? What are you waiting for? 
  <a href="#join-us">Join us</a>!</p>

<footer>
  <nav>
    <a href="#">about</a> | 
    <a href="#">developers</a> | 
    <a href="#">pricing</a>
  </nav>
</footer>
{% endblock %}
