{% extends "web/base.html" %}
{% comment %}
This file is part of trc.me.

trc.me is free software: you can redistribute it and/or modify it under the
terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

trc.me is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
trc.me. If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% block head %}
<script type="text/javascript">

$(document).ready(function () {
  // Load map of featured flags
  trcme.maps.loadFlagsMap([
    {% for flag in flags %}[{{ flag.position.latitude }}, {{ flag.position.longitude }}],
    {% endfor %}
  ]);
  
  // Run scripts for placeholder text, etc.
  trcme.dialog.login.onReady();
  trcme.dialog.register.onReady();
  trcme.dialog.index.onReady();
  
  // Load Welcome text
  trcme.dialog.panel.load('welcome');
});

</script>
{% endblock %}

{% block dialog %}{% include "web/index_dialog.html" %}{% endblock %}

