{% extends "web/base.html" %}
{% comment %}
This file is part of trc.me.

trc.me is free software: you can redistribute it and/or modify it under the
terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

trc.me is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
trc.me. If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% block head %}
<!-- We need the geocoding service when sensor==false -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>

<script type="text/javascript">

var ZOOM = 15; // Default zoom level
var MAP_WIDTH = 214; // TODO: Determine this mobile = 214, computer = 398
var flagPosition = null;
var flagAddress = null;
var browserSupport =  new Boolean(); // Browser has geolocation support
var sensor =  new Boolean(); // User used browser's geolocation

$(document).ready(function () {  
  if (!Modernizr.input.placeholder) {
    // Placeholder text not supported. Script it.
    var placeholder = 'Where is trc.me/{{ code }}?';
    $('input[name="address"]').val(placeholder);
    $('input[name="address"]').focus(function () {
        if ($(this).val() === placeholder) {
            $(this).val('');
        }
    });
    $('input[name="address"]').blur(function () {
        if ($(this).val() === '') {
            $(this).val(placeholder);
        }
    });
  }
  
  if (Modernizr.geolocation) {
    // Get location
    browserSupport = true;
    navigator.geolocation.getCurrentPosition(showMapUsingCoords, handleError);
    
  } else if (google.gears) {
    // Try Google Gears
    browserSupport = true;
    var geo = google.gears.factory.create('beta.geolocation');
    geo.getCurrentPosition(showMapUsingCoords, handleError);
    
  } else {
    // No geolocation support
    browserSupport = false;
    // Ask user for address.
    getLocationAddress();
  } 
});

// TODO: Refactor all this shit.

function handleError(err) {
  if (err.code == 1) {
    // User said no. Perhaps record this. 
  }
  getLocationAddress();
}

function getLocationAddress() {
  flagPosition = null;
  sensor = false;
  $('#confirmation-map').hide();
  $('#manual-entry').show();
  // $('input[name="address"]').focus(); // Setting focus hides the placeholder text
}

function showMap(centre, sensor) {
  // Clean parameter
  centre = escape(centre);
  var url = 'http://maps.google.com/maps/api/staticmap?center=' + centre 
            + '&zoom=' + ZOOM
            + '&size=' + MAP_WIDTH + 'x' + MAP_WIDTH
            + '&markers=color:0xFFDE16|' + centre
            + '&sensor=' + sensor;
  var html = '<p class="map"><img src="' + url + '" alt="' + centre + '" /></p>'
             + '<p>Is this correct? '
             + '<button onclick="updateTag(); return false;">Yes</button> '
             + '<button onclick="getLocationAddress(); return false;">No</button>'
             + '</p>';
  $('#confirmation-map').html(html);
  $('#confirmation-map').show();
}

function showMapUsingCoords(position) {
  sensor = true;
  flagPosition = position;
  showMap(position.coords.latitude + ',' + position.coords.longitude, sensor);
}

function showMapUsingAddress() {
  sensor = false;
  flagAddress = $('input[name="address"]').val();
  showMap(flagAddress, sensor);
}

function setFlagPosition(results, status) {
  if (status == google.maps.GeocoderStatus.OK) {
    flagPosition = {
      coords: {
        latitude: results[0].geometry.location.lat(),
        longitude: results[0].geometry.location.lng(),
        accuracy: 10.0 // Assuming location_type == ROOFTOP
      }
    }
    if (results[0].geometry.location_type != 'ROOFTOP') {
      flagPosition.coords.accuracy = 100.0;
    }
    postForm();
    
  } else {
    // Google changed their mind; they can't find the address after all.
    if (console) {
      console.log('No results found: ' + status);
    }
  }
}

function updateTag() {
  if (flagPosition == null) {
    // User entered address manually. Geocode it.
    var geocoder = new google.maps.Geocoder();
    if (geocoder) {
      geocoder.geocode(
        { address: flagAddress }, 
        setFlagPosition
      );
    }
  } else {
    postForm();
  }
}
 
function postForm() {
  // Post form
  $('input[name="latitude"]').val(flagPosition.coords.latitude);
  $('input[name="longitude"]').val(flagPosition.coords.longitude);
  $('input[name="accuracy"]').val(flagPosition.coords.longitude);
  $('input[name="sensor"]').val(sensor);
  $('input[name="geolocation_support"]').val(browserSupport);
  $('form').submit();
}

</script>
{% endblock %}

{% block content %}
<h1><img src="{{ MEDIA_URL }}img/logo.png" alt="trc.me" /></h1>

<h2>trc.me/{{ code }}</h2>

{% include "web/code_short.html" %}

<form action="" method="post">
  <p>
    {% if user.username %}
    This flag is 
    <input id="id_visibility_pub" 
           name="visibility" 
           type="radio" 
           value="pub" 
           checked="checked" /> public
    <input id="id_visibility_prv" 
           name="visibility" 
           type="radio" 
           value="prv" /> private<br />
    
    {% else %}
    <input name="do-login" type="radio" value="0" checked="checked"> 
    Submit anonymously<span class="important">*</span><br />
    <input name="do-login" type="radio" value="1"> 
    Register / Log in<br />
    <span class="important">*</span>If you submit anonymously, you won't get 
    any <span class="keyword">trc.me points</span>.
    
    <!-- Login form -->
    <div id="login-form-container" style="display: none;">
      <table>
      {{ loginform }}
      </table>
    </div>
    {% endif %}
  </p>
  
  <div id="manual-entry" style="display: none;">
    <input name="address" 
           type="text"
           placeholder="Where is trc.me/{{ code }}?" 
           onchange="$('#check-address').removeAttr('disabled')"
           style="width: 12em;" />
    <button id="check-address" 
            onclick="showMapUsingAddress(); return false;"
            disabled="true">Check</button>
  </div>
  
  <div id="confirmation-map" style="display: none;"></div>
  
  Notes: <textarea id="id_name" name="note"></textarea>
  <br />
  Pic: <input id="id_img" name="img" type="file" />
  
  <div style="display: none;">
    <table>
    {{ positionform }}
    </table>
  </div>
  
  {% csrf_token %}
</form>

{% endblock %}
